#? Basic commands must be executed from the website......
apiVersion: extensions/v1beta1 # this apiVersion is expired but this is the only one working
kind: Ingress
metadata: #meta
  name: ingress-service
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$1 # rewriting target
spec:
  rules:
    - host: www.goldlacpaints.online # new line - add this line after cert install and its file push
      http:
        paths:
          - path: /?(.*) # idk but ssr is not leaving this exact route
            backend:
              serviceName: ssr-service # actual service file name
              servicePort: 3000 # actual service file port
          - path: /api/users/?(.*)
            backend:
              serviceName: auth-service # actual service file name
              servicePort: 3000 # actual service file port
          - path: /api/accounts/?(.*)
            backend:
              serviceName: accounts-service # actual service file name
              servicePort: 3000 # actual service file port
          - path: /api/courses/?(.*)
            backend:
              serviceName: courses-service # actual service file name
              servicePort: 3000 # actual service file port