@import "../../../abstract/mixins"; 

.profile-page-background {
  height: 70vh !important;
  width: 80%;

  margin: 0 auto;

  background-image: linear-gradient(to right, rgba(255,255,255, .9) 0%, rgba(255,255,255, .9) 100%),
          url("../pages/Portal/portal.jpg");

  background-size: cover; // /*it will cover the background in every size of page .. like responsive*/
  background-position: center; // /*when changing size of screen -- picture position can change .. so we fixed it for top .. means --top position will remain same ... we could say -- bottom , center*/
  background-repeat: no-repeat;

  // background-size: 100%; // it works same as cover
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  
  @include respond(660) {
    height: 80vh !important;
  }


}

pt-4{
  padding-top: 4rem !important;
}
mt-4{
  margin-top: 6rem !important;
}
mb-0{
  margin-bottom: 0 !important;
}

.profile-form{
  width: 80% !important ;
  margin: 0 auto;
  
  padding-top: 3rem;

  
  &__email {
    text-align: center;
    &-label {
      text-align: center;
    }
  }

  &__phone {
    width: 40% !important;
    margin: 0 auto !important;
    text-align: center;

    @include respond(phone-small) {
      width: 50% !important;
    }
  
    &-label {
      text-align: center;
      margin-top: .5rem;
    }
  }

  &-btn {

    text-align: center;

    &-style {
      width: 30%;

      @include respond(660) {
        width: 40% !important;
      }

      &:hover {

        background-color: $color-tertiary-light;
        color: white;
      }

      
    }
  }
  
}

.profile-select {
  text-align: center;
}