name: deploy-manifests

on:
  push: # when we pull and merge the code from some other branch to main -- it also refers as a push -- and we merge the branch -- only after testing everything
    branches:
      - main
    paths:
      - 'infrastructure/k8s/**' # any change in here will cause this file - to update -- CHANGE THIS  
      - 'infrastructure/k8s-prod/**'

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: portal-portfolio-cluster
  GKE_ZONE: us-central1-c

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Setup gcloud CLI
      - uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GKE_SA_KEY }}
          project_id: ${{ secrets.GKE_PROJECT }}

      # Configure Docker to use the gcloud command-line tool as a credential
      # helper for authentication
      - run: |-
          gcloud --quiet auth configure-docker
      # Get the GKE credentials so we can deploy to the cluster
      - uses: google-github-actions/get-gke-credentials@v0.2.1
        with:
          cluster_name: ${{ env.GKE_CLUSTER }}
          location: ${{ env.GKE_ZONE }}
          credentials: ${{ secrets.GKE_SA_KEY }}
          # for gke_sa_key -- go to gke -> iam -> service-account and create account and key json key

      # Deploy the Manifest
      - name: Deploy
        run: |-
          kubectl apply -f infrastructure/k8s/auth && kubectl apply -f infrastructure/k8s/accounts && kubectl apply -f infrastructure/k8s/courses && kubectl apply -f infrastructure/k8s/expiration && kubectl apply -f infrastructure/k8s/nats && kubectl apply -f infrastructure/k8s/ssr-client && kubectl apply -f infrastructure/k8s-prod
        # change
